################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Project1/Debug
/Project1/.vs/Project1/v16
/Project1/Project1/Debug
*.db
*.opendb
/Project2/.vs/Project2/v16
/Project2/Debug
